In [1]:
#import the libraries
import numpy as np
import pandas as pd

#visualization
import plotly.graph_objects as go 
import plotly.express as px

In [13]:
df = px.data.gapminder()
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [14]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [19]:
df.shape

(1704, 8)

In [23]:
#1.) Mean life expectancy of all the Asian countries according to the data.

df.lifeExp.mean()

59.47443936619713

In [31]:
df_1 = df[df.continent == 'Asia']
df_1

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1675,"Yemen, Rep.",Asia,1987,52.922,11219340,1971.741538,YEM,887
1676,"Yemen, Rep.",Asia,1992,55.599,13367997,1879.496673,YEM,887
1677,"Yemen, Rep.",Asia,1997,58.020,15826497,2117.484526,YEM,887
1678,"Yemen, Rep.",Asia,2002,60.308,18701257,2234.820827,YEM,887
1679,"Yemen, Rep.",Asia,2007,62.698,22211743,2280.769906,YEM,887

In [37]:
avg_lifeExp = df_1.groupby(['continent','country','iso_alpha']).agg({'lifeExp': 'mean'})
avg_lifeExp.reset_index()

   continent             country iso_alpha    lifeExp
0       Asia         Afghanistan       AFG  37.478833
1       Asia             Bahrain       BHR  65.605667
2       Asia          Bangladesh       BGD  49.834083
3       Asia            Cambodia       KHM  47.902750
4       Asia               China       CHN  61.785140
5       Asia    Hong Kong, China       HKG  73.492833
6       Asia               India       IND  53.166083
7       Asia           Indonesia       IDN  54.335750
8       Asia                Iran       IRN  58.636583
9       Asia                Iraq       IRQ  56.581750
10      Asia              Israel       ISR  73.645833
11      Asia               Japan       JPN  74.826917
12      Asia              Jordan       JOR  59.786417
13      Asia    Korea, Dem. Rep.       KOR  63.607333
14      Asia         Korea, Rep.       KOR  65.001000
15      Asia              Kuwait       KWT  68.922333
16      Asia             Lebanon       LBN  65.865667
17      Asia            Malaysia       MYS  64.279583
18      Asia            Mongolia       MNG  55.890333
19      Asia             Myanmar       MMR  53.321667
20      Asia               Nepal       NPL  48.986333
21      Asia                Oman       OMN  58.442667
22      Asia            Pakistan       PAK  54.882250
23      Asia         Philippines       PHL  60.967250
24      Asia        Saudi Arabia       SAU  58.678750
25      Asia           Singapore       SGP  71.220250
26      Asia           Sri Lanka       LKA  66.526083
27      Asia               Syria       SYR  61.346167
28      Asia              Taiwan       TWN  70.336667
29      Asia            Thailand       THA  62.200250
30      Asia             Vietnam       VNM  57.479500
31      Asia  West Bank and Gaza       PSE  60.328667
32      Asia         Yemen, Rep.       YEM  46.780417

In [49]:
#2.) Deviation in GDP of each country in Europe and South America.

df1 = df[df.continent == "Europe"]
df1

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
12,Albania,Europe,1952,55.230,1282697,1601.056136,ALB,8
13,Albania,Europe,1957,59.280,1476505,1942.284244,ALB,8
14,Albania,Europe,1962,64.820,1728137,2312.888958,ALB,8
15,Albania,Europe,1967,66.220,1984060,2760.196931,ALB,8
16,Albania,Europe,1972,67.690,2263554,3313.422188,ALB,8
...,...,...,...,...,...,...,...,...
1603,United Kingdom,Europe,1987,75.007,56981620,21664.787670,GBR,826
1604,United Kingdom,Europe,1992,76.420,57866349,22705.092540,GBR,826
1605,United Kingdom,Europe,1997,77.218,58808266,26074.531360,GBR,826
1606,United Kingdom,Europe,2002,78.471,59912431,29478.999190,GBR,826
1607,United Kingdom,Europe,2007,79.425,60776238,33203.261280,GBR,826

In [61]:
#finding the GDP
gdp = df1.groupby(['continent','country','iso_alpha']).agg({'gdpPercap': 'sum'})
gdp.reset_index()

   continent                 country iso_alpha      gdpPercap
0     Europe                 Albania       ALB   39064.399592
1     Europe                 Austria       AUT  244942.995352
2     Europe                 Belgium       BEL  238809.096860
3     Europe  Bosnia and Herzegovina       BIH   41817.348833
4     Europe                Bulgaria       BGR   76608.662064
5     Europe                 Croatia       HRV  111980.548151
6     Europe          Czech Republic       CZE  167040.136548
7     Europe                 Denmark       DNK  260061.898655
8     Europe                 Finland       FIN  209684.672008
9     Europe                  France       FRA  226002.843925
10    Europe                 Germany       DEU  246680.213193
11    Europe                  Greece       GRC  167628.441995
12    Europe                 Hungary       HUN  130658.107844
13    Europe                 Iceland       ISL  246377.067270
14    Europe                 Ireland       IRL  189103.274853
15    Europe                   Italy       ITA  194942.508077
16    Europe              Montenegro       MNE   86496.774717
17    Europe             Netherlands       NLD  260986.226498
18    Europe                  Norway       NOR  320967.678650
19    Europe                  Poland       POL  100998.646947
20    Europe                Portugal       PRT  136249.103129
21    Europe                 Romania       ROU   87602.039683
22    Europe                  Serbia       SRB  111660.593329
23    Europe         Slovak Republic       SVK  124986.368268
24    Europe                Slovenia       SVN  168894.985312
25    Europe                   Spain       ESP  168357.917745
26    Europe                  Sweden       SWE  239317.513248
27    Europe             Switzerland       CHE  324892.012860
28    Europe                  Turkey       TUR   53633.440556
29    Europe          United Kingdom       GBR  232565.675827

In [ ]:
fig = px.choropleth(
                   gdp, locations = "iso_alpha",
                   color = "gdpPercap",
                   hover_name = "country",
                   color_continuous_scale = px.colors.sequential.Plasma
)

fig.show()

In [67]:
df2 = df[df.continent == "South America"]
gdp1 = df2.groupby(['continent','country','iso_alpha']).agg({'gdpPercap': 'sum'}).reset_index()

fig = px.choropleth(
                   gdp1, locations = "iso_alpha",
                   color = "gdpPercap",
                   hover_name = "country",
                   color_continuous_scale = px.colors.sequential.Plasma
)

fig.show()

In [68]:
#3.) The change in population of each African country in the last 3 decades

df3 = df[df['year']> 1977]

In [75]:
df3.reset_index()

,index,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,6,Afghanistan,Asia,1982,39.854,12881816,978.011439,AFG,4
1,7,Afghanistan,Asia,1987,40.822,13867957,852.395945,AFG,4
2,8,Afghanistan,Asia,1992,41.674,16317921,649.341395,AFG,4
3,9,Afghanistan,Asia,1997,41.763,22227415,635.341351,AFG,4
4,10,Afghanistan,Asia,2002,42.129,25268405,726.734055,AFG,4
...,...,...,...,...,...,...,...,...,...
847,1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
848,1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
849,1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
850,1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
851,1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [76]:
df4 = df3[df3['continent'] == 'Africa']
df4.reset_index()

,index,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,30,Algeria,Africa,1982,61.368,20033753,5745.160213,DZA,12
1,31,Algeria,Africa,1987,65.799,23254956,5681.358539,DZA,12
2,32,Algeria,Africa,1992,67.744,26298373,5023.216647,DZA,12
3,33,Algeria,Africa,1997,69.152,29072015,4797.295051,DZA,12
4,34,Algeria,Africa,2002,70.994,31287142,5288.040382,DZA,12
...,...,...,...,...,...,...,...,...,...
307,1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
308,1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
309,1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
310,1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
311,1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [79]:
population = df4.groupby(['continent','country','iso_alpha','year']).agg({'pop': 'sum'})
population.head().reset_index()

  continent  country iso_alpha  year       pop
0    Africa  Algeria       DZA  1982  20033753
1    Africa  Algeria       DZA  1987  23254956
2    Africa  Algeria       DZA  1992  26298373
3    Africa  Algeria       DZA  1997  29072015
4    Africa  Algeria       DZA  2002  31287142

In [81]:
diff = df4.year.max() - df4.year.min()
diff

25

In [82]:

fig = px.choropleth(
                   population, locations = "iso_alpha",
                   color = "pop",
                   hover_name = "country",
                   hover_data = ["year"],
                   color_continuous_scale = px.colors.sequential.Plasma
)

fig.show()

ValueError: Value of 'hover_name' is not the name of a column in 'data_frame'. Expected one of ['pop'] but received: country